// bower:scss
// endbower

body {
	background: #fff;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333;
	margin: 0;
	padding: 0;
}
.geochart-map {
	width: 70%;
	height: 500px;
}