@mixin rotate($degrees) {
	-webkit-transform: rotate($degrees);
	-moz-transform: rotate($degrees);
	-ms-transform: rotate($degrees);
	-o-transform: rotate($degrees);
	transform: rotate($degrees);
}

.geochart-map {
	$color: #bbb;

	.icon {
		position: relative;
		display: block;
		width: 1em;
		height: 1em;

		&:before,
		&:after,
		& .inner:before,
		& .inner:after {
			content: "";
		}

		&.icon-plus {
			&:before,
			&:after {
				position: absolute;
				background-color: $color;
			}

			&:before {
				width: 100%;
				height: 25%;
				top: 35%;
				left: 0;
			}
			&:after {
				width: 25%;
				height: 100%;
				top: 0;
				left: 35%;
			}
		}
		&.icon-minus {
			&:before {
				position: absolute;
				background-color: $color;
				width: 100%;
				height: 25%;
				top: 35%;
				left: 0;
			}
		}
		&.icon-menu {
			&:before,
			&:after,
			.inner {
				position: absolute;
				background-color: $color;
				border-radius: 0.1em;
				width: 100%;
				height: 25%;
			}
			&:after {
				top: 37.5%;
			}
			.inner {
				top: 75%;
			}
		}
		&.icon-fullscreen-open {
			&:before,
			&:after {
				position: absolute;
				left: 0.4em;
				width: 0.15em;
				height: 0.4em;
				border: 0.25em solid $color;
				border-width: 0.25em 0;
				@include rotate(45deg);
			}
			&:after {
				@include rotate(-45deg);
			}
			.inner {
				position: absolute;
				display: block;

				&:before,
				&:after {
					display: block;
					width: 0.25em;
					height: 0;
					border-width: 0 0.35em 0.35em;
					border-style: solid;
					border-color: rgba(0,0,0,0) $color;
					background: rgba(0,0,0,0);
				}
				&:after {
					border-width: 0.35em 0.35em 0;
					margin-top: 0.2em;
				}
			}
		}
		&.icon-fullscreen-close {
			&:before,
			&:after {
				position: absolute;
				top: 0.5em;
				left: 0.42em;
				width: 0.15em;
				height: 0.7em;
				border: 0.25em solid $color;
				border-width: 0.25em 0;
				margin-top: -0.6em;
				@include rotate(45deg);
			}
			&:after {
				@include rotate(-45deg);
			}
			.inner {
				position: absolute;
				display: block;

				&:before,
				&:after {
					position: absolute;
					display: block;
					left: 0.1em;
					width: 0.3em;
					border-width: 0.25em;
					border-style: solid;
					border-color: rgba(0,0,0,0) $color;
					margin-top: 0.25em;
					background: rgba(0,0,0,0);
					@include rotate(-45deg);
				}
				&:after {
					@include rotate(45deg);
				}
			}
		}
	}
}
