.gc-map-wrapper {
	$color: #bbb;
	$background: #434343;

	.icon {
		position: relative;
		display: block;
		width: 1em;
		height: 1em;

		&:before,
		&:after,
		& .inner:before,
		& .inner:after {
			content: "";
		}

		&.icon-plus {
			&:before,
			&:after {
				position: absolute;
				background-color: $color;
			}

			&:before {
				width: 100%;
				height: 25%;
				top: 37.5%;
				left: 0;
			}
			&:after {
				width: 25%;
				height: 100%;
				top: 0;
				left: 37.5%;
			}
		}
		&.icon-minus {
			&:before {
				position: absolute;
				background-color: $color;
				width: 100%;
				height: 25%;
				top: 37.5%;
				left: 0;
			}
		}
		&.icon-menu {
			&:before,
			&:after,
			.inner {
				position: absolute;
				background-color: $color;
				border-radius: 0.1em;
				width: 100%;
				height: 25%;
			}
			&:after {
				top: 37.5%;
			}
			.inner {
				top: 75%;
			}
		}
		&.icon-fullscreen-open {
			margin: 0.06em -0.05em -0.06em 0.05em;

			&:before,
			&:after {
				position: absolute;
				left: 0.4em;
				width: 0.15em;
				height: 0.4em;
				border: 0.25em solid $color;
				border-width: 0.25em 0;
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(-45deg);
			}
			.inner {
				position: absolute;
				display: block;

				&:before,
				&:after {
					display: block;
					width: 0.25em;
					height: 0;
					border-width: 0 0.35em 0.35em;
					border-style: solid;
					border-color: rgba(0,0,0,0) $color;
					background: rgba(0,0,0,0);
				}
				&:after {
					border-width: 0.35em 0.35em 0;
					margin-top: 0.2em;
				}
			}
		}
		&.icon-fullscreen-close {
			&:before,
			&:after {
				position: absolute;
				top: 0.5em;
				left: 0.42em;
				width: 0.15em;
				height: 0.7em;
				border: 0.25em solid $color;
				border-width: 0.25em 0;
				margin-top: -0.6em;
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(-45deg);
			}
			.inner {
				position: absolute;
				display: block;

				&:before,
				&:after {
					position: absolute;
					display: block;
					left: 0.1em;
					width: 0.3em;
					border-width: 0.25em;
					border-style: solid;
					border-color: rgba(0,0,0,0) $color;
					margin-top: 0.25em;
					background: rgba(0,0,0,0);
					transform: rotate(-45deg);
				}
				&:after {
					transform: rotate(45deg);
				}
			}
		}
		&.icon-download {
		$color: #999;
			margin-top: -0.14em;
			&:before {
				position: absolute;
				display: block;
				border-width: 0.46em 0.36em 0;
				left: 0.14em;
				top: 50%;
				border-color: $color rgba(0,0,0,0);
				border-style: solid;
				background: rgba(0,0,0,0);
			}
			&:after {
				position: absolute;
				display: block;
				left: 0.36em;
				width: 0.28em;
				height: 0.35em;
				background: $color;
				bottom: 50%;
			}
			.inner {
				position: absolute;
				background: $color;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
			}
		}
		&.icon-settings {
			&:before {
				position: absolute;
				display: block;
				left: 0.25em;
				bottom: -0.05em;
				width: 0.24em;
				height: 0.8em;
				transform: rotate(45deg);
				background: $color;
			}
			&:after {
				position: absolute;
				left: 0.73em;
				width: 0.22em;
				height: 0.3em;
				background: $background;
				transform: rotate(45deg);
			}
			.inner {
				position: absolute;
				display: block;
				right: 0;
				top: 0;
				width: 0.5em;
				height: 0.5em;
				background: $color;
				border-radius: 0.5em;
			}
		}
		&.icon-settings-hide {
			&:before,
			&:after {
				position: absolute;
				display: block;
				width: 0.7em;
				height: 0.25em;
				transform: rotate(45deg);
				background: $color;
				top: 0.35em;
			}
			&:after {
				transform: rotate(-45deg);
				left: 0.325em;
			}
		}
		&.icon-select {
			&:before,
			&:after {
				position: absolute;
				display: block;
				width: 0;
				height: 0;
				border: 0.4em solid transparent;
				left: 0.1em;
			}
			&:before {
				border-top: 0;
				border-bottom-color: $color;
			}
			&:after {
				border-bottom: 0;
				border-top-color: $color;
				top: 0.6em;
			}

		}
	}

	.gc-spinner {
		/* source: http://tobiasahlin.com/spinkit/ */
		width: 60px;
		height: 60px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -30px;
		margin-top: -30px;

		&:before,
		&:after {
			display: block;
			content: "";
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background-color: #1A405C;
			opacity: 0.6;
			position: absolute;
			top: 0;
			left: 0;
			animation: bounce 1.5s infinite ease-in-out;
		}

		&:after {
			animation-delay: -0.75s;
		}
	}
}

@keyframes bounce {
	0%, 100% {
		transform: scale(0.0);
  }
  50% {
		transform: scale(1.0);
	}
}