@mixin user-select($param) {
	user-select: $param;
	-o-user-select: $param;
	-ms-user-select: $param;
	-moz-user-select: $param;
	-webkit-user-select: $param;
}

.geochart-map {
	overflow: hidden;
	position: relative;
	width: 100%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

	&, & * {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}

	&.fullscreen {
		background: #b8d5ea;
		height: 100%;
		left: 0;
		overflow: hidden;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1000;

		svg {
			border-radius: 0;
		}

		.dateStamp {
			top: 19px;
			right: 125px;
		}
	}
	&.noControls:not(.fullscreen),
	&.smallMap:not(.fullscreen) {
		.zoom-plus,
		.zoom-minus,
		.colorLegend,
		.show-slide-menu-button,
		.hide-slide-menu-button,
		.slide-menu .listWrapper {
			display: none !important;
		}
	}

	.hide-slide-menu-button {
		background: #fff;
		border: 1px solid #aaa;
		border-radius: 6px;
		box-shadow: 0 0 3px #ccc;
		position: absolute;
	}
	.hide-slide-menu-button:after {
		@include user-select(none);
		color: #666;
		cursor: pointer;
		line-height: 26px;
		margin-left: 4px;
		margin-right: 4px;
		text-align: center;
		width: 19px;
		&:hover {
			color: #000;
		}
		&.deactivated {
			color: #d1d1d1;
			cursor: default;
		}
	}
	.functionSelect {
		background: #FFF;
		font-size: 14px;
		outline: none;
		padding: 4px;
	}
	.slide-menu {
		.hide-slide-menu-button {
			border: 1px solid #bbb;
			box-shadow: none;
			cursor: pointer;
			left: -70px;
			top: 18px;

			&:after {
				content: "\00AB";
				display: inline-block;
				line-height: 30px;
				margin-right: 5px;
				margin-top: -3px;
			}
		}

		.list {
			background: #434343;
			box-shadow: -2px 0 10px rgba(0,0,0,0.2);
			height: 100%;
			overflow: auto;
			padding: 20px;
			position: absolute;
			left: -420px;
			top: 0;
			width: 400px;

			h2 {
				margin-top: 0;
				padding-bottom: 5px;
				border-bottom: 1px solid #aaa;
				white-space: nowrap;
				.date {
					font-size: 60%;
					display: inline-block;
					margin-left: 7px;
				}
			}

			table {
				width: 100%;
				td {
					padding-bottom: 5px;
					padding-top: 5px;
					vertical-align: middle;

					&:first-child {
						text-align: right;
						width: 50px;
					}
					&:last-child {
						padding-bottom: 0;
						text-align: right;
						> div {
							display: inline-block;
							position: relative;
						}
						width: 0;
					}
				}
				tr + tr td {
					border-top: 1px solid #ccc;
				}
				tr.selected {
					.ranking {
						background: #FFE700 !important;
						box-shadow: 0px 0px 2px #000;
						color: #000;
						font-weight: bold
					}
				}
				.ranking {
					border-radius: 2px;
					color: #fff;
					display: inline-block;
					font-size: 12px;
					margin-right: 10px;
					min-width: 28px;
					padding: 4px 0;
					text-align: center;
				}
				.countryName {
					display: block;
					font-size: 15px;
					padding-right: 50px;
				}
				.continent {
					display: block;
					font-size: 12px;
					padding-right: 50px;
				}
				.percentage {
					display: inline-block;
					position: absolute;
					left: -50px;
					top: 10px;
					width: 40px;
					font-size: 12px;
				}
			}
			.csvDownload {
				font-size: 14px;
				margin-bottom: 5px;
				margin-top: -10px;
				padding: 5px;
				.downloadIcon {
					polygon {
						fill: #777;
					}
				}
				a, a:active, a:hover {
					color: #777;
					text-decoration: none;
				}
			}
		}
	}

	.mapDataTable {
		display: table;

		> span {
			display: table-row;

			.title,
			.value {
				display: table-cell;
				text-align: right;
				vertical-align: middle;
				white-space: nowrap;
			}
			.title {
				color: #888;
				font-size: 12px;
			}
			.value {
				padding-left: 9px;
			}
		}
	}

	> svg {
		background: #b8d5ea;
		cursor: drag;
		cursor: grab;
		cursor: -moz-grab;
		cursor: -webkit-grab;
		&:active {
			cursor: drag;
			cursor: grabbing;
			cursor: -moz-grabbing;
			cursor: -webkit-grabbing;
		}
	}
}