@mixin user-select($param) {
	user-select: $param;
	-o-user-select: $param;
	-ms-user-select: $param;
	-moz-user-select: $param;
	-webkit-user-select: $param;
}

.geochart-map {
	overflow: hidden;
	position: relative;
	width: 100%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

	&, & * {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}

	&.fullscreen {
		background: #b8d5ea;
		height: 100%;
		left: 0;
		overflow: hidden;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1000;

		svg {
			border-radius: 0;
		}

		.dateStamp {
			top: 19px;
			right: 125px;
		}
	}
	&.noControls:not(.fullscreen),
	&.smallMap:not(.fullscreen) {
		.zoom-plus,
		.zoom-minus,
		.colorLegend,
		.show-slide-menu-button,
		.hide-slide-menu-area,
		.slide-menu .listWrapper {
			display: none !important;
		}
	}

	.hide-slide-menu-area {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
		z-index: 10;
	}
	.slide-menu {

		.menu {
			box-shadow: -2px 0 15px rgba(0,0,0,0.6);
			height: 100%;
			overflow: auto;
			position: absolute;
			left: -420px;
			top: 0;
			width: 400px;
			overflow: hidden;
			z-index: 50;
			padding-top: 120px;
			padding-bottom: 15px;
			background: #f6f6f6;

			.scroll-pane {
				height: 100%;
			}
			h2 {
				padding: 20px 25px 50px 25px;
				position: absolute;
				top: 0;
				left: 0;
				white-space: nowrap;
				width: 100%;
				font-weight: 200;
				margin: 0;
				background: #e6e6e6;
				border-bottom: 1px solid #bbb;

				.date {
					font-size: 60%;
					display: inline-block;
					margin-left: 7px;
				}
			}
			ul.data-type-chooser {
				position: absolute;
				top: 70px;
				left: 12px;
				margin: 0;
				padding: 0;

				li {
					display: inline-block;
					list-style-type: none;
					padding: 8px 10px 5px 10px;
					font-size: 12px;
					border: 1px solid #bbb;
					border-bottom: none;
					background: linear-gradient(#eee, #dcdcdc) #dcdcdc;
					border-radius: 4px;
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
					cursor: pointer;
					&.active {
						background: linear-gradient(#fff, #f6f6f6) #f6f6f6;
						padding-bottom: 6px;
						cursor: default;
					}
					& + li {
						margin-left: 3px;
					}
				}
			}
			.list {
				height: 100%;
				margin: 0 15px;

				table {
					border-spacing: 0;
					border-collapse: collapse;
					width: 100%;
					tr:nth-child(2n-1) {
						background: #efefef;
					}
					td {
						vertical-align: middle;
						padding-top: 6px;
						padding-bottom: 6px;

						&:first-child {
							text-align: right;
							width: 50px;
						}
						&:last-child {
							padding-right: 10px;
							text-align: right;
							font-weight: 500;
							width: 0;
						}
					}
					tr.selected {
						.ranking {
							background: #FFE700 !important;
							box-shadow: 0px 0px 2px #000;
							color: #000;
							font-weight: bold
						}
					}
					.ranking {
						border-radius: 2px;
						color: #fff;
						display: inline-block;
						font-size: 12px;
						margin-right: 10px;
						min-width: 28px;
						padding: 4px 0;
						text-align: center;
						background: green;
					}
					.countryName {
						display: block;
						font-size: 15px;
						padding-bottom: 4px;
						padding-right: 10px;
					}
					.continent {
						display: block;
						font-size: 12px;
						padding-right: 10px;
					}
					.percentage {
						padding-right: 25px;
						text-align: right;
						display: block;
						font-size: 14px;
					}
				}
			}
			a.csvDownload {
				position: absolute;
				top: 16px;
				right: 13px;
				padding: 6px 10px;
				border: 1px solid #bbb;
				font-size: 14px;
				text-decoration: none;
				color: #434343;
				background: linear-gradient(#fff, #e6e6e6);
				border-radius: 5px;
				&:active {
					background: linear-gradient(#e6e6e6, #fff);
				}
				span {
					display: inline-block;
					vertical-align: middle;
				}
			}

		}
	}

	.mapDataTable {
		display: table;

		> span {
			display: table-row;

			.title,
			.value {
				display: table-cell;
				text-align: right;
				vertical-align: middle;
				white-space: nowrap;
			}
			.title {
				color: #888;
				font-size: 12px;
			}
			.value {
				padding-left: 9px;
			}
		}
	}

	> svg {
		display: block;
		background: #b8d5ea;
		cursor: drag;
		cursor: grab;
		cursor: -moz-grab;
		cursor: -webkit-grab;
		&:active {
			cursor: drag;
			cursor: grabbing;
			cursor: -moz-grabbing;
			cursor: -webkit-grabbing;
		}
	}
}