@mixin removeSelectArrow() {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

.geochart-map {
	.overlay {
		.button {
			cursor: pointer;
			background: #434343;
			display: inline-block;
			padding: 8px;
			font-size: 16px;

			&.inactive {
				background: #808080;
				cursor: default;
			}

			&.show-slide-menu-button {
				position: absolute;
				left: 10px;
				top: 10px;
				padding: 10px;
			}
			&.zoom-plus {
				position: absolute;
				right: 10px;
				top: 10px;
			}
			&.zoom-minus {
				position: absolute;
				right: 10px;
				top: 42px;
			}
			&.settings {
				position: absolute;
				right: 10px;
				bottom: 10px;
				padding: 6px;
				font-size: 20px;
				height: 20px + 2 * 6px;
				width: 20px + 2 * 6px;

				.icon-settings,
				.icon-settings-hide {
					position: absolute;
				}
				.icon-settings-hide {
					display: none;
				}
			}
			&.fullscreen-open,
			&.fullscreen-close {
				position: absolute;
				right: 10px;
				top: 80px;
				font-size: 20px;
				padding: 7px 6px 6px 6px;
			}
			&.fullscreen-close {
				display: none;
			}
			&.functionSelect {
				color: #eee;
				@include removeSelectArrow();
				border: 1px solid #434343;
				padding: 7px;

				option {
					background: #bbb;
					color: black;
				}
			}
		}

		.functionSelectWrapper {
			position: absolute;
			bottom: -50px;
			right: 10px;

			.icon-select {
				font-size: 14px;
				position: absolute;
				pointer-events: none;
				right: 10px;
				top: 12px;
			}
		}
		.single-country-info {
			display: none;
			position: absolute;
			bottom: 10px;
			left: 10px;
			background: #434343;
			color: white;
			padding: 10px;
			text-align: center;
			.continent {
				display: block;
				font-size: 12px;
			}
			> div:first-child + div {
				border-top: 1px solid #ccc;
				margin-top: 5px;
				padding-top: 3px;
			}
			.mapDataTable {
				width: 100%;
				padding-top: 2px;
				.title {
					text-align: left;
				}
				.value {
					text-align: right;
				}
			}
		}
	}
}
